@import url("https://fonts.googleapis.com/css?family=Poppins");

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-7%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  100% {
    transform: translateY(0);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  text-align: center;
  min-height: 100vh;
  border-radius: 15px;
  gap: 10vh;
  font-size: clamp(3.27rem, calc(2.43rem + 3.24vw), 6.31rem) !important;
}

.first {
  background-color: aliceblue;
}

.startButton {
  min-width: 170px;
  width: 50%;
  font-size: clamp(3.27rem, calc(2.43rem + 3.24vw), 6.31rem) !important;
}

.homeButtonAnimation {
  transform: translateY(10rem);
  animation: fade-in 500ms ease-in forwards, slide-in 350ms ease-in forwards, bounce 1s infinite 350ms;
}

.slideInBottom {
  transform: translateY(10rem);
  animation: fade-in 500ms ease-in forwards, slide-in 350ms ease-in forwards;
}

.bounce:hover,
.bounce:focus-visible {
  animation: bounce 1s infinite;
}
.bouncing {
  animation: bounce 1s infinite;
}

.logo {
  transform: translateY(-10rem);
  animation: fade-in 500ms ease-in forwards, slide-in 400ms linear forwards;
}

.logo img {
  max-width: 100%;
  object-fit: contain;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  padding: 1rem;
  width: 100%;
  position: relative;
  padding-block: 10vh;
}

.cardContainer {
  border-radius: 1rem;
  transition: all 300ms;
  width: 100%;
  height: 100%;
  max-height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flipping {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.hiddenCard {
  background-color: rgb(21, 91, 196);
  color: rgb(238, 238, 79);
}

.visibleCard {
  max-height: 100%;
  object-fit: contain;
}

.grid {
  position: relative;
  min-height: 60vh;
  max-height: 85vh;
  width: 100%;
  max-width: 810px;
  margin: 2rem 0 0 0;
  display: grid;
  justify-content: center;
  place-items: center;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

@media (max-width: 370px) {
  .gameContainer {
    padding-block: 2vh;
  }
  .grid {
    min-height: 80vh;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.countdown {
  font-size: clamp(3.27rem, calc(2.43rem + 3.24vw), 6.31rem) !important;
}

.soundButton {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 50px;
  height: 50px;
  display: flex;
  place-content: center;
  place-items: center;
  background-color: white;
  border-radius: 0.5rem;
  transform: translateX(-100%) translateY(-100%);
}

.modal-body {
  font-size: clamp(1.89rem, calc(1.72rem + 0.6vw), 2.44rem);
  text-align: center;
}
